body{
    background-color: white;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
#green{
  color: #30B868;
}
.navbar{
    width: 100%;
    max-width: 1600px;
      font-size: 16px;
      font-family: Inter;
      display: flex;
      gap:346px;
    margin: 16px 120px;
}
.nav-details{
    display: flex;
    gap: 32px;
    font-weight: 500;
    align-items: center;
    color:#000000;
    margin:18px 0px;
}
.nav-btn button{
    width:164px;
    height:45px;
    font-weight:bold;
    line-height: 20px;
    background-color: #30B868;
    color: #ffffff;
    border:1px solid rgb(0, 0, 0);
    border-radius: 6px;
   
}
.header-container{
    width:100%;
    max-width:1600px;

     background :url(../hero-bg.png);
      background-position: 0px 0px;
    background-repeat: no-repeat;
    height:700px;
    text-align: center;
  

}
.header-container .header-documents{
  padding:70px 120px 32px 120px ;
  /* height: 700px; */
}
.access-status{
 
  border-radius: 19px;
  margin:0 auto;
  background-color: #FFFFFF;
  width: 229px;
  height: 35px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:8px;
  margin-top: 46px;
}
.access-status .logo{
  height: 18px;
  width: 18px;
}
.access-status .text{
  font-weight: bold;
  
}
.heading {
   font-size: 72px;
   margin:16px 295px;
}
.heading .heading-info{
  font-weight: bold;
     color: #FFFFFF;
}
.heading-details{
  text-align: center;
  color:#FFFFFF;
  line-height: 24px;
  text-align: center;
}
.header-btn{
  /* margin-top: 16px; */
  gap:16px;
  display: flex;
  justify-content: center;
}

.header-btn button {
    width: 251px;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    border-radius: 6px;
    
}
.header-btn .btn1{
  background-color: #30B868;
  border: 1px solid #FFFFFF;
}
.header-btn .btn2{
  background-color:transparent;
  border: 1px solid #FFFFFF;
}
.apps{
  padding:0px 120px 0px 120px;
}
.apps .section-heading{
  text-align: center;
  margin-top:18px;
  margin-bottom: 45px;
}
.apps .section-heading #upper{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
  
}
.apps .section-heading #down{
  color: #627382;
}
.section-book .cards{
  display: flex;
  gap:24px;
  background-color: #FFFFFF;
}
.cards .magic{
  padding:24px;
  /* border:2px solid red; */
  height:322px;
  width:300px;
  text-align: center;
}
.cards .magic img {
  height: 32px;
  width: 32px;
  background-color: #F95555;
  border-radius: 50%;
  border:7px solid #F95555;
  margin:46px 105px 16px 105px;
  /* display: block; */

}
.cards .magic  #big{
  color: #001931;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}
.cards .magic p{
  font-size: 16px;
font-weight: 400;
color: #627382;
margin-bottom: 20px;
}
.apps-1{
  padding: 120px;
  border-radius: 12px;


}
.apps-1 .hero{
    display: flex;
  align-items: center;
  gap:60px;
 
}
.apps-1 .hero .image img,.header-btn .btn1 img{
  position: relative;
  top:5px;

}

.apps-1 .image-details .knowledge #id1{
  color: #30B868;
  font-weight: 400;
  margin-bottom: 16px;
}
.apps-1 .image-details .knowledge #id2, .apps-1 .image-details .knowledge #id3{
  color: #001931;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}

.apps-1 .image-details .knowledge #id4,.apps-1 .image-details .knowledge #id5,.apps-1 .image-details .knowledge #id6{
line-height: 20px;
color:#627382;
}
.apps-1 .image-details .ideas{
  margin-top: 45px;
}
.apps-1 .image-details .ideas .tasks{
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 500;
}
.tasks img{
  position: relative;
  top:5px;
}
.special{
    padding: 0 120px 120px 120px;
    text-align: center;
}
.special .f1{
  margin-bottom: 24px;
}
button:hover {
  background-color: #249a55;  
  border: 2px solid rgb(175, 175, 175);
  box-shadow: 0 8px 20px #627382;
}
.special h2{
  color: #001931;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  margin:80px 40px 16px 40px;
}
.special p{
  line-height: 20px;
color:#627382;
font-weight: 400;
}
 .special-btn button{
   width: 251px;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    border-radius: 6px;
    background-color: #30B868;
    margin-bottom: 16px;
}
.special-btn img{
  background-color: #30B868;
  position: relative;
  top:5px;
  
}
footer{
  background-color: #000731;
  height: 337px;
  padding: 109px 109px 30px 120px;
}
footer .footer-doc .footer-head{
  display: flex;
  gap:1000px;
  margin-bottom: 80px;
}
.footer-head .links h4{
color:#FFFFFF;
font-size: 20px;
font-weight: 500;
margin-bottom: 16px;
}
footer hr {
  background-color: rgb(42, 41, 41); 
  height: 1px;                         
  border: none;                         
  margin-bottom: 30px;                  
}

 .footer-copyright p {
    margin-top: 30px;
  color: #fafafa;
  text-align: center;
  font-size: 16px;
font-weight: 400;

}





